.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.invalid {
  border: 1px solid rgb(159, 16, 16) !important;
  box-shadow: 4px 4px 18px 0px rgba(103, 21, 21, 0.2) !important;
}

.text-danger {
  color: rgb(159, 16, 16);
}

input,
textarea {
  outline: none !important;
  box-shadow: none !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;

}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  opacity: 0.6;
}

.form-control {
  width: 300px;
  padding: 10px 5px;
  border-radius: 10px;
  border-color: #ccc;
  color: rgb(100, 100, 100)
}

input {
  font-size: 17px;
}

textarea {
  resize: none;
  height: 100px;
  font-size: 17px
}

.btn-submit {
  border-radius: 30px;
  padding: 20px;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background-color: rgb(126, 163, 155);
  font-size: 16px;
  color: beige;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.btn-submit:hover {
  background-color: rgb(83, 104, 100);
  color: aliceblue;
}
